@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ласкаво просимо до магазину повітряних куль</h1>
    <p>Ознайомтеся з нашим широким асортиментом повітряних куль і святкових виробів.</p>
    <p>
        <a class="btn btn-primary btn-lg" asp-controller="Categories" asp-action="Index">Перегляд категорій</a>
    </p>
    <p>
        <a class="btn btn-secondary btn-lg" asp-controller="Products" asp-action="Index">Переглянути продукти</a>
    </p>
</div>