@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="text">Ласкаво просимо до магазину повітряних куль</h2>
    <p class="text">Ознайомтеся з нашим широким асортиментом повітряних куль і святкових виробів.</p>
    <p>
        <a class="btn btn-outline-secondary text btn-lg" asp-controller="Categories" asp-action="Index">Перегляд категорій</a>
    </p>
    <p>
        <a class="btn btn-outline-secondary text btn-lg" asp-controller="Products" asp-action="Index">Переглянути продукти</a>
    </p>
</div>