html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.card img {
    object-fit: contain;
    margin: 6px;
}

.cart-item-delete-button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand, .navbar-nav .nav-link, .text-decoration-none{
    color: RGB(199, 162, 199) !important;
}
.header-custom {
    background-color: rgb(162, 199, 162);
}
.header-custom {
    background-color: #f0ebed;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}
